{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <main>
        <h1>Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
